* {
  box-sizing: border-box;
}

html,body{
  background-color: #202040;
  border: 0;
  margin: 0;
  padding: 0;
  height:100%;
  width:100%;
}


@media only screen and (min-width: 320px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  /* Grid Container */
  .main-nav {
    grid-area: nav;
  }

  .grid-banner {
    grid-area: banner;
  }

  .grid-about {
    grid-area: about;
    align-items: center;
  }

  .grid-projects {
    grid-area: projects;
  }

  .grid-contact {
    grid-area: contact;
  }

  .main-footer {
    grid-area: footer;
  }

  .audrey {
    grid-area: image;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      "nav"
      "banner"
      "about"
      "projects"
      "contact"
      "footer"
      "image";
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav"
    "banner"
    "about"
    "projects"
    "contact"
    "footer"
    "image";
  }

  /* Headings */
  h1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 2px;
    animation: backInDown;
    animation-duration: 1s;
    letter-spacing: 1px;
  }

  h2, p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: .5px;
  }

  /* Images */
  /* Header Image */
  .banner {
    max-width: 100%;
    height: auto;
    padding-top: 3em;
    border-bottom: .5px solid #fff;
  }

  /* Headshot Image */
  .audrey { 
    border-radius: 50%; 
    border: #FFBD69 1px solid;
}

  /* Audrey's List Screenshot */
  .ALscreenshot {
    width: 30%;
    display: inline-block;
    margin-left: 15em;
    margin-top: 2em;
  }

  /* Nav Bar */
  .main-nav {
    background: transparent;
  }

  #main-nav.scroll {
    background: #fff;
  }

  #main-nav.scroll a {
    color: #202040;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
  }

  li a {
    display: list-item;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    text-decoration: none;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  nav {
    position: fixed;
    width: 100%;
    border-bottom: .5px solid #fff;
  }

  /* About Section */
  .grid-about {
    text-align: center;
  }
  
  .home-paragraph {
    display: inline-block;
    font-size: 16px;
    margin: 1em 2em;
    height: 100%;
    width: 50%;
    line-height: 1.6;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: #FFBD69;
  }

}