* {
  box-sizing: border-box;
}

body {
  background-color: #202040;
}


@media only screen and (min-width: 300px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  /* Grid Container */
  .main-nav {
    grid-area: nav;
  }

  .grid-banner {
    grid-area: banner;
  }

  .grid-about {
    grid-area: about;
    align-items: center;
  }

  .grid-projects {
    grid-area: projects;
  }

  .grid-contact{
    grid-area: contact;
  }

  .main-footer {
    grid-area: footer;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      "nav"
      "banner"
      "about"
      "projects"
      "contact"
      "footer";
  }

  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "nav"
    "banner"
    "about"
    "projects"
    "contact"
    "footer";
  }
  nav ul {
    display: flex;
    justify-content: center;
  }

  /* Headings */
  h2 {
    font-family: 'Montserrat', sans-serif;
     color: white;
  }

  /* Images */
  /* Header Image */
  .banner {
    max-width: 100%;
    height: auto;
  }

  /* Headshot Image */
  .audrey { 
    border-radius: 50%; 
    border: #FFBD69 1px solid;
    width: 100px;
    height: 100px;
}

  /* Nav Bar */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202040;
    font-family: 'Montserrat', sans-serif;
  }

  li a {
    display: list-item;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

  /* About Section */
  .grid-about {
    text-align: center;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
}
