* {
  box-sizing: border-box;
}

body {
  background-color: #202040;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  /* Headings */
  h2 {
    font-family: 'Montserrat', sans-serif;
     color: white;
  }

  /* Images */
  /* Header Image */
  .banner {
    max-width: 100%;
    height: auto;
  }

  /* Headshot Image */
  .audrey { 
    border-radius: 50%; 
    border: #FFBD69 1px solid;
    width: 100px;
    height: 100px;
}

  /* Nav Bar */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202040;
    font-family: 'Montserrat', sans-serif;
  }

  li {
    float: left;
    margin-left: 1.5em;
  }

  li a {
    display: list-item;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }

  /* About Section */
  .grid-about {
    text-align: center;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
}
